@import "../../lib/style-utils";

.sort-list {
  width: 250px;
  background-color: $colorBackgroundLight;
  margin-right: 30px;
  border-radius: 2px;
  border-bottom: 1px solid $colorLineLoads;
  select {
    width: 100%;
    color: $textGreyColor;
    font-size: 15px;
    font-weight: 500;
    border: none;
    padding: 5px 5px 5px 5px;
    background-color: transparent;

    &:hover {
      cursor: pointer;
    }
    &:active,
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
}
