@import "../../lib/style-utils";

.form {
  background-color: rgb(72, 67, 67);
  width: 350px;
  margin: 50px auto;
  border-radius: 10px;
  padding: 10px;
}

.control {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.control label {
  display: block;
  font-size: 18px;
  margin: 10px;
}

.control input {
  width: 280px;
  height: 35px;
  font-size: 15px;
  border-radius: 5px;
  border: none;
  background-color: grey;
}

.actions {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.actions button {
  @include primaryButtonStyle();
  width: 180px;
}

.actions a {
  text-decoration: none;
  margin: 10px;
  font-size: 18px;
  color: rgb(38, 18, 18);
}

.actions a:hover {
  color: white;
}
